.carousel__icon{
    display: none;
}

.carousel__slide{
    height: 50vh;
    width: 50vw !important;
    max-width: 600px;
}

.carousel__item{
    width: 100%;
    height: 100%;
}

.media{
    max-width: 500px !important;
}