.carousel__icon{
    display: none;
}

.carousel__slide{
    height: fit-content;
    width: 50vw !important;
    max-width: 600px;
    padding: 40px 0px;
}

.carousel__item{
    width: 100%;
    height: fit-content;
}

.media{
    max-width: 500px !important;
}

.carousel__viewport{
    overflow: visible !important;
}