.section-welcome {
  height: 80vh;
}

.welcome-text-name {
  margin-left: 20%;
  margin-top: 140px;
  height: 40vh;
  color: white;
}

.welcome-ryan {
  font-size: 30vw;
  line-height: 0.8;
  z-index: 1;
}

.welcome-vankriekinge {
  font-size: 15vw;
  line-height: 1;
  z-index: 1;
}

.name-svg {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -99;
  width: 100vw;
  height: 32vh;
}

@media (min-width: 375px) {
  .name-svg {
    height: 40vh;
  }
}

@media (min-width: 641px) {
  .name-svg {
    height: 45vh;
  }
  .welcome-ryan {
    font-size: 200px;
  }

  .welcome-vankriekinge {
    font-size: 96px;
  }
}

@media (min-width: 1025px) {
  .name-svg {
    height: 55vh;
  }
  .welcome-text-name {
    margin-left: 30%;
  }
  .welcome-ryan {
    font-size: 250px;
  }

  .welcome-vankriekinge {
    font-size: 120px;
  }
}
