

/* Screens without hamburger menu */
@media (min-width:641px)  {
    nav{
        width: 100%;
    }
    
    nav, ul{
        display: flex;
    }
    
    nav, li{
        list-style: none;
        margin-left: 20px;
    }
}